        <div class="mx-4">
          <div class="grid grid-cols-1 md:grid-cols-1 w-6/12 mx-auto">

            <form [formGroup]="userAddForm" (ngSubmit)="onSubmit()" class="p-6 flex flex-col justify-center">
              <div class="flex flex-col">
                <label for="nom" class="hidden">Nom</label>
                <input
                  type="nom"
                  name="nom"
                  id="nom"
                  placeholder="Nom"
                  required
                  formControlName="nom"
                  class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 dark:text-gray-50 font-semibold focus:border-blue-500 focus:outline-none" />

                  <div *ngIf="nom?.invalid && nom?.touched" class="my-1 px-1 py-1 text-red-600">
                    <span>* Le nom est requis</span>
                  </div>
                </div>
              <div class="flex flex-col">
                <label for="prenom" class="hidden">Prénom</label>
                <input
                  type="prenom"
                  name="prenom"
                  id="prenom"
                  placeholder="Prénom"
                  formControlName="prenom"
                  class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 dark:text-gray-50 font-semibold focus:border-blue-500 focus:outline-none" />
                  <div *ngIf="prenom?.invalid && prenom?.touched" class="my-1 px-1 py-1 text-red-600">
                    <span>* Le prénom est requis</span>
                  </div>
                </div>

              <div class="flex flex-col mt-2">
                <label for="email" class="hidden">Email</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Email"
                  formControlName="email"
                  class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 dark:text-gray-50 font-semibold focus:border-blue-500 focus:outline-none" />
                  <div *ngIf="email?.invalid && email?.touched" class="my-1 px-1 py-1 text-red-600">
                    <span>* L'email est requis</span>
                  </div>

              </div>

              <div *ngIf="isAddMode"  class="flex flex-col mt-2">
                <label for="password" class="hidden">Mot de passe</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Mot de passe"
                  formControlName="password"
                  class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 dark:text-gray-50 font-semibold focus:border-blue-500 focus:outline-none" />
                  <div *ngIf="password?.invalid && password?.touched" class="my-1 px-1 py-1 text-red-600">
                    <span>* Le mot de passe est requis et doit contenir au moins 6 caractères</span>
                  </div>

              </div>

              <div class="flex mt-2">

                <input
                  checked="{{ roleId===2? true:false }}"
                  id="adm"
                  class="peer/draft mr-3"
                  type="radio"
                  value="2"
                  name="role"
                  formControlName="role"

                   />
                <label for="adm" class="peer-checked/draft:text-sky-500 pr-4">Administrateur</label>

                <input
                  id="red"
                  class="peer/published mr-3"
                  type="radio"
                  value="1"
                  formControlName="role"
                  name="role"
                  checked="{{ roleId===1? true:false }}"
                  />
                <label for="red" class="peer-checked/published:text-sky-500">Rédacteur</label>
                <div *ngIf="role?.invalid && role?.touched" class="my-1 px-1 py-1 text-red-600">
                  <span>* Le rôle est requis </span>
                </div>
              </div>


              <button *ngIf="isAddMode"  type="submit" [disabled]="userAddForm.status=='INVALID'" class="md:w-32 bg-blue-600 dark:bg-gray-100 text-white dark:text-gray-800 font-bold py-3 px-6 rounded-lg mt-4 hover:bg-blue-500 dark:hover:bg-gray-200 transition ease-in-out duration-300">Enregistrer</button>
              <button *ngIf="!isAddMode" type="submit" [disabled]="userAddForm.status=='INVALID'" class="md:w-64 bg-blue-600 dark:bg-gray-100 text-white dark:text-gray-800 font-bold py-3 px-6 rounded-lg mt-4 hover:bg-blue-500 dark:hover:bg-gray-200 transition ease-in-out duration-300">Mettre à jour</button>
            </form>
          </div>
        </div>
        <!-- ./Contact Form -->

