  <section class="bg-gray-100 text-gray-800">
    <div id="feature" class="relative container flex flex-col max-w-6xl mx-auto my-20 px-6 md:flex-row md:px-0">
      <a  routerLink="/{{articles[0].slug }}" title="{{ articles[0].pays }}::{{articles[0].titre }}" rel="noopener noreferrer"  class="group hover:no-underline focus:no-underline">
        <img class="rounded-md object-cover" src="{{ extractSrc(articles[0].photo) }}" alt="{{ articles[0].pays }}::{{articles[0].titre  }}" title="{{ articles[0].pays }}::{{articles[0].titre  }}">
        <div class="top-40 pr-0 bg-white md:absolute md:right-0 md:py-20 md:pl-20">
          <h2 class="max-w-lg mt-8 mb-6 font-sans text-4xl text-center text-gray-900 uppercase md:text-5xl md:mt-0 md:text-left">
            {{ articles[0].titre }}
          </h2>
          <p class="max-w-md text-center md:text-2xl md:text-left">
            {{ articles[0].chapeau }}
          </p>
        </div>
      </a>
    </div>

    <div  class="container max-w-6xl p-6 mx-auto space-y-6 sm:space-y-12">
      <!-- <a  routerLink="/{{articles[0].slug }}" rel="noopener noreferrer"  class="block max-w-sm gap-3 mx-auto sm:max-w-full group hover:no-underline focus:no-underline lg:grid lg:grid-cols-12 bg-gray-50">
        <img src="{{ extractSrc(articles[0].photo) }}" alt="{{ articles[0].pays }}::{{articles[0].titre  }}" title="{{ articles[0].pays }}::{{articles[0].titre  }}" class="object-cover w-full h-64 rounded sm:h-96 lg:col-span-7 dark:bg-gray-500">
        <div class="p-6 space-y-2 lg:col-span-5">
          <h3 class="text-2xl font-semibold sm:text-4xl group-hover:underline group-focus:underline">{{ articles[0].titre }}</h3>
          <span class="text-xs text-rose-600">{{articles[0].dateparution|date:'d MMMM y H:mm:ss'}}</span>
          <p class="text-justify">{{ articles[0].chapeau }}</p>
        </div>
      </a> -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div  class="col-span-2 grid justify-center grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-2">
          <a routerLink="/{{article.slug }}"  *ngFor=" let article of articles|slice:1;index as i"  class="max-w-sm mx-auto group hover:no-underline focus:no-underline bg-gray-50 shadow-xl">
            <img role="presentation" class="object-cover w-full rounded h-44 bg-gray-500" src="{{ extractSrc(article.photo) }}">
            <div class="p-6 space-y-2">
              <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">{{ article.titre }}</h3>
              <span class="text-xs text-rose-600 text-capitalize">{{article.dateparution|date:'d MMMM y H:mm:ss'}}</span>
              <p class="text-justify">{{ article.chapeau }}</p>
            </div>
          </a>

        </div>
        <div>
          <app-plus-lu></app-plus-lu>
          <app-rss></app-rss>
        </div>
      </div>

    </div>
    <!-- Pagination -->
    <div   class="flex justify-center space-x-1 dark:text-gray-100 p-4">
      <div *ngFor="let meta of metas['links'];index as i">
        <a routerLink="/home"  [queryParams]="{page:+meta.label}" *ngIf="i==0 && links['prev']!='null'"  title="previous" type="button" class="inline-flex items-center justify-center w-8 h-8 py-0 border rounded-md shadow-md dark:bg-gray-900 dark:border-gray-800">
          <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4">
            <polyline points="15 18 9 12 15 6"></polyline>
          </svg>
        </a>
        <a routerLink="/home"  [queryParams]="{page:+meta.label}" *ngIf="i>0 && i<metas['links'].length-1" type="button" class="inline-flex items-center justify-center w-8 h-8 text-sm border rounded shadow-md dark:bg-gray-900 dark:border-gray-800" title="Page">{{ meta.label }} {{links[0]  }} {{links['prev']  }}</a>
        <a routerLink="/home"  [queryParams]="{page:+meta.label}" *ngIf="links['next']!='null' && i==+meta.last_page+1"     title="next" type="button" class="inline-flex items-center justify-center w-8 h-8 py-0 border rounded-md shadow-md dark:bg-gray-900 dark:border-gray-800">
          <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4">
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </a>
      </div>
    </div>
  </section>




