 <header id="header" class="container max-w-6xl mx-auto px-6 py-6 text-gray-800">
  <!-- Menu/Logo-->
    <nav class="flex items-center justify-between font-bold ">
      <!--Logo-->
      <img src="assets/images/camereco6.png" alt="" class="w-16 h-16 md:w-32 md:h-32">
      <!--Menu-->
      <div class="hidden h-10 font-alata md:flex md:space-x-8">
        <div class="group">
          <a  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
          <div class="mb-2 group-hover:border-b-2 group-hover:border-rose-500"></div>
        </div>
        <div class="group">
          <a  href="#">Link 1</a>
          <div class="mx-2 group-hover:border-b group-hover:border-rose-50"></div>
        </div>
        <div class="group">
          <a  href="#">Link 2</a>
          <div class="mx-2 group-hover:border-b group-hover:border-rose-50"></div>
        </div>
        <div class="group border rounded-md">
          <span class="inset-y-0 flex items-center  ">
            <button type="submit" title="Search" class="p-1 focus:outline-none focus:ring">
              <svg fill="currentColor" viewBox="0 0 512 512" class="w-4 h-4 dark:text-gray-100">
                <path d="M479.6,399.716l-81.084-81.084-62.368-25.767A175.014,175.014,0,0,0,368,192c0-97.047-78.953-176-176-176S16,94.953,16,192,94.953,368,192,368a175.034,175.034,0,0,0,101.619-32.377l25.7,62.2L400.4,478.911a56,56,0,1,0,79.2-79.195ZM48,192c0-79.4,64.6-144,144-144s144,64.6,144,144S271.4,336,192,336,48,271.4,48,192ZM456.971,456.284a24.028,24.028,0,0,1-33.942,0l-76.572-76.572-23.894-57.835L380.4,345.771l76.573,76.572A24.028,24.028,0,0,1,456.971,456.284Z"></path>
              </svg>
            </button>
            <input type="search" name="Search" placeholder="Search..." class="w-48 bg-gray-100 px-4 py-2">
          </span>

        </div>

      </div>
      <!-- hamburger BUTTON-->
      <div class="md:hidden">
        <button id="menu-btn" type="button" class="z-40 block hamburger md:hidden focus:outline-none">
          <span class="hamburger-top"></span>
          <span class="hamburger-middle"></span>
          <span class="hamburger-bottom"></span>
        </button>
      </div>
    </nav>
    <!-- Mobile menu-->
    <div
      id="menu"
      class="absolute top-0 bottom-0 left-0  flex-col self-end hidden w-full min-h-screen py-1 pt-65 pl-12 space-y-3 text-lg uppercase">
      <a href="" class="hover:text-rose-500">Accueil</a>
      <a href="" class="hover:text-rose-500">Link 1</a>
      <a href="" class="hover:text-rose-500">Link 2</a>
    </div>
 </header>
