<div class="md:flex mb-4  w-100 ">
  <article  *ngFor="let article of articles" class="container border-r-2 border-transparent md:w-2/3 lg:w-2/3 max-w-2xl px-6  mx-auto space-y-12 dark:bg-gray-800 dark:text-gray-50">
    <div class="p-2 mx-auto sm:p-10 md:p-4 text-gray-800">
      <div class="flex flex-col max-w-3xl mx-auto overflow-hidden rounded">
        <img src="{{ extractSrc(article.photo) }}" alt="{{ article.pays }}::{{ article.titre }}" title="{{ article.pays }}::{{ article.titre }}"  class="md:object-fill md:h-auto w-full sm:h-96 dark:bg-gray-500 rounded-lg shadow-none transition-shadow duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30">
        <div class="p-3 pb-12 m-2 mx-auto -mt-16 space-y-3 lg:max-w-2xl sm:px-10 sm:mx-12 lg:rounded-md bg-gray-50">
          <div class="space-y-2  divide-y divide-slate-200">
            <a rel="noopener noreferrer" href="#" class="inline-block text-2xl font-semibold sm:text-3xl text-justify">{{ article.titre }}</a>
            <p class="text-xs text-rose-600 flex flex-wrap justify-between">
              <a rel="noopener noreferrer" href="#" class="text-xs hover:underline">©&nbsp;{{article.source }} : {{article.auteur }}</a>
              <span class="flex flex-wrap justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                </svg>&nbsp;{{ article.dateparution | date:'d MMMM y H:mm:ss'}}
              </span>
              <span class="flex flex-wrap justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>&nbsp;{{ article.hit}}
              </span>
            </p>
          </div>
          <div class="text-gray-800  text-justify"  [innerHTML]="article.article">
            <!-- <p>Insert the actual text content here...</p> -->
          </div>
        </div>
      </div>
    </div>



    <div class="pt-12 border-t border-rose-700">
      <div class="flex flex-col space-y-4 md:space-y-0 md:space-x-6 md:flex-row">
        <img src="{{ extractSrc(article.photo) }}" alt="" class="self-center flex-shrink-0 w-24 h-24 border rounded-full md:justify-self-start dark:bg-gray-500 dark:border-gray-700">
        <div class="flex flex-col">
          <h4 class="text-lg font-semibold">Leroy Jenkins</h4>
          <p class="dark:text-gray-400">Sed non nibh iaculis, posuere diam vitae, consectetur neque. Integer velit ligula, semper sed nisl in, cursus commodo elit. Pellentesque sit amet mi luctus ligula euismod lobortis ultricies et nibh.</p>
        </div>
      </div>

    </div>

  </article>
  <div class="w-100 md:w-w-1/3  lg:w-1/3  md:h-auto">
    <div  *ngFor="let article of articlesamerubriques;index as i" class="mb-2 space-x-5 ">
      <button *ngIf="i==0" type="button" class="pb-2 text-xs font-bold uppercase border-b-2 border-rose-600">{{ article.pays }} :: {{ article.categorie }}</button>
    </div>
    <div class="flex flex-col divide-y divide-gray-300">
      <div  *ngFor="let article of articlesamerubriques"  class="flex px-1 py-4">
        <img alt="{{ article.pays }} :: {{ article.titre }}"  title="{{ article.pays }} :: {{ article.titre }}" class="rounded flex-shrink-0 object-cover w-20 h-20 mr-4 dark:bg-gray-500" src="{{ extractSrc(article.photo) }}">
        <div class="flex flex-col flex-grow">
          <a routerLink="/{{ article.slug }}" title="{{ article.pays }} :: {{ article.titre }}"  class="font-serif hover:underline">{{ article.titre }}</a>
          <p class="mt-auto text-xs text-gray-400">{{ article.rubrique }}</p>
        </div>
      </div>
    </div>
  </div>

</div>



